@import url('../homepage/EasiestWay.css');

html , body {
  overflow-x: hidden;
}

li img {
    width: 19px;
    height: 19px;
}
.ca-text{
    width: 55%;
   
}

.cs-consulltants{
    background-color: #fafbfd;;
}
.ca-text h1{
    color: var(--primary-color);
   
}
.ca-form{
    width: 436px;
    border-bottom: 3px solid var(--primary-color);
}

.book-btn{
    background-color: var(--primary-color);

}
input , textarea{
    width: 100%;
    border: 1px solid rgb(188, 188, 188);
}
.google-btn{
    border: 1px solid #1678fb;
}
.google-btn p{
   color: #1678fb;
}
.blue-text{
    color: var(--primary-color);

}
.ca-form {
    position: relative;
  }
  
  .ca-form .banner {
    position: absolute;
    top: -11px;
    left: -11px;

  }
  @media (max-width:1345px) {
  .ca-text{
    width: 45%;
}
.ca-form{
  width: 50%;
  margin-right: 0px !important;
}
}


  @media (max-width: 490px){
    .ca-form{
        width: 90%;
    }
    .ca-text{
        width: 90%;
       
    }
  }

  @media (max-width: 800px){
    
    .ca-text{
        width: 100%;
       
    }
  }

  .tax-return-filling{
    background: var(--secondary-color);
  }

  .step1{
    width: 420px;
    border: 1px solid rgb(228, 228, 228);
  }
 
  @media (max-width: 465px){
    
   .step1{
    width: 90%;
   }
}

@media (max-width: 665px){
    
    .tax-return-filling{
padding: 15px;
    }
 
   }


.whoNeed{
  padding: 4% 10%;
   background-color: rgb(246, 243, 243);
} 

.whoNeed h1{
  color: var(--third-color);
}
.whoNeed p{
  line-height: 35px;
  font-size: 22px;
}
.nriInclude {
  padding: 4% 5%;
}
.nriInclude h1{
   color: var(--third-color);
}

.why-choose{
  padding: 8% 8%;
}

.choose-point{
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
}
.choose-point h1{
  color: var(--third-color);
}
.hearClients{
  background-color: rgb(238, 247, 249);
  padding: 5% 8%;
}
.hearClients h1{
  color: var(--primary-color);
}
.review{
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  height: 200px;
  width: 600px !important;
}
.review img {
  width: 20%;
  margin: 7px 0px;
}

.Faq{
    border-bottom: 1px solid rgb(227, 227, 227);
    /* transition: opacity 2s ease, max-height 2s ease; */
}

@media (max-width: 1024px) {
    .choose-point {
      width:48% !important
    }
    .review{
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  height: 300px;
  width:  400px !important;
}
.ca-text h1{
  font-size: 35px;
}
.ca-text h2{
  font-size: 25px;
}
}

@media (max-width: 800px) {

    .review{
 
  height: 300px;
  width:  100% !important;
}
}

@media (max-width: 540px) {
    .choose-point {
      width:100% !important
    }
}

ul.custom-circle li::before {
  content: '•'; /* Unicode character for filled circle */
  color: black; /* You can change the color */
  font-size: 1.5em; /* Size of the circle */
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; /* Adjust the position */
}
ol.custom-circle li::before {
  content: '•'; /* Unicode character for filled circle */
  color: black; /* You can change the color */
  font-size: 1.5em; /* Size of the circle */
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; /* Adjust the position */
}
.question{
  color: #2e3846;
}
.Faq p{
  color: #323f50;
}

@media (max-width:800px) {
    .whoNeed h1 , .ca-text h1 , .hearClients h1 , .nriInclude h1 , .why-choose h1{
   font-size: 25px !important;
}
}