@import url('EasiestWay.css');


.section3{
    background-color: rgb(242, 250, 249);;
    
}

.section3 h1{
    font-size: 32px;
    font-weight: 700;
    color: #253243;
}

.section3-box {
    width: 300px;
}
.section3-boxes{
    flex-wrap: nowrap;
}

.read-btn-text{
    color: #09345a;;
}

 .section3 p{
    color:#253243;
}

@media  (max-width: 800px) {
    .read-btn{
       justify-content: center;
       
    }
 }

 @media  (max-width: 1298px) {
    .section3-boxes{
        flex-wrap: wrap;
    }
 }