@import url('../homepage/EasiestWay.css');

:root{
    --bg-gradient: linear-gradient(90deg, #1B1B1B 0%, #144148 100%);
}

.tds-section{
    /* background-color: transparent; */
    background-image: var(--bg-gradient);
}

.tds-section h1{
    /* color: var(--third-color); */
}
.tds-point img{
    background-color: white;
   border-radius: 50%;
}

.tds-btn{
    width: 180px;
  background-color: var(--primary-color);
  color: white;

}

.eligible-section{
    background-color: rgb(247 ,247 , 247);
}
.eligible-inner{
    width: 60%;
}
.eligible-para{
    font-size: 15px;
}
.eligible-point{
    height: 110px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    box-shadow: 0.00px 2.00px 9px 5px rgba(0, 0, 0, 0.15);
}
.eligible-point p{
    font-size: 17px;
}


.tax-image{
    width: 28px;
    height: 33px;
}
.pricing {
    width: 230px;
    box-shadow: var(--shd, 0 5px 19px #78787899);
    transition: all 0.5s ease;
}
.pricing:hover {
    width: 230px;
    box-shadow: var(--shd, 0 5px 19px #78787899);
  
    transform: scale(1.1);
}
.get-btn {
    border: 1px solid var(--third-color);
}

.certificate-section{
    background-color: rgb(247 ,247 , 247);
}

.certificate{
    width: 310px;
    height: 235px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    box-shadow: var(--shd, 0 5px 19px #78787899);
  
}

@media(max-width:1376px){
      .eligible-points{
        flex-wrap: wrap !important;
      }
}


@media(max-width:1376px){
    .eligible-inner{
        width: 90%;
    }
}
