@import url('../homepage/EasiestWay.css');

:root{
    --bg-gradient: linear-gradient(90deg, #1B1B1B 0%, #144148 100%);
}

.unlock-financial-section{
    /* background-color: transparent; */
    background-image: var(--bg-gradient);
}

.unlock-point img{
    background-color: white;
   border-radius: 50%;
   height: 22px !important;
}


.tds-btn{
    width: 180px;
  background-color: var(--third-color);
  color: white;

}
.financial-inner{
          width: 60%;
}

@media(max-width:835px){
    .financial-inner{
        width: 100%;
}
}


.service-heading{
    width: 70%;
}

.account-service{
      width: 300px;
      box-shadow: 0.00px 4.00px 7px 0px rgba(0, 0, 0, 0.23);
      border-radius: 6px;
}
.account-service p{
    line-height: 25px ;
}




.account-package-section{
    background-color: rgb(228, 220, 243);
}
.package-heading img{
    height: 60px !important;
}

.package-heading{
    width: 70%;
}

@media(max-width:1155px){
    .package-heading{
        width: 100%;
    }
    .service-heading{
        width: 100%;
    }
}

.tax-image{
    width: 28px;
    height: 33px;
}
.pricing{
    width: 230px;
    text-align: left;
    box-shadow: var(--shd,0 5px 19px rgba(120, 120, 120, 0.6));
    transition: 0.5s all ease;
}
.pricing:hover{
   transform: scale(1.1);
}

.get-btn{
    border: 1px solid var(--third-color);

}
.btn-p{
    color: var(--third-color);
}


.bookkeeping-section{
    background-color: rgb(247, 247, 247);
}

.book-point{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    box-shadow: var(--shd, 0 5px 19px #78787899);
    height: 170px;
    width: 190px;
}
.book-btn{
    width: 240px;
  background-color: var(--third-color);
  color: white;
}